* {
    border:        none;
    border-radius: 0;
    font-family:   source-code-pro;
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    background: transparent;
}

tooltip {
  background: transparent;
  border-radius: 10px;
}

#battery, #cpu, #memory, #tray, #temperature, #clock, #workspaces, #backlight, #pulseaudio, #network, #custom-notification {
    margin:     0px 3px;
    padding: 0 10px;
    min-height: 30px;
    min-width:  25px;

    border-radius: 10px;
    background: @base00;
}

#workspaces button {
    padding:    0 5px;
    margin: 3px 0px;

    border-radius: 10px;
    transition: all 0.25s ease-in-out;
}

#workspaces button.active {
    background-color: @accent05;
    min-width: 50px;
    transition: all 0.25s ease-in-out;
}

#workspaces button.urgent {
    border: 0px solid @accent02;

    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



@keyframes blink {
    to {
        border-width: 2px;
    }
}


#battery {
  background-color: @accent05;
}


#battery.warning { 
   background-color:       @accent03;
   border: 1px solid @accent03;
}

#battery.critical { 
    background-color:      @accent02;
    border: 0px solid @accent02;

    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging {
    border: 0px solid @accent05;

    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu.warning {
  background-color: @accent03;

  border: 1px solid @accent03;
}

#cpu.critical {
  background-color:      @accent02;
  border: 0px solid @accent02;

  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#temperature.critical {
  background-color:      @accent02;
  border: 0px solid @accent02;

  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#tray menu {
  background-color: transparent;

  border-radius: 20px;
}

#tray > .needs-attention {
  color:      @accent02;
  border: 0px solid @accent02;
  border-radius: 20px;

  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
